# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env / secrets
.env
*.env

# Mac
.DS_Store

# Build/cache
dist/
build/
.cache/